@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap');
@import url('https://db.onlinewebfonts.com/c/d03165bd677535fe8da7479e26b13180?family=Azo+Sans+Uber+W01+Regular');

body{
background: #0A0A0A;
}
::-webkit-scrollbar{
    display: none;
}
.loder{
    	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 150px;
	width: 150px;
}
@media (max-width:600px) {
    .max-h-200{
        max-height: 200px;
    }
}